In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cities.tsv", sep="\t", header=0, index_col=0)

In [3]:
df

           Population  Elevation  Latitude  Longitude
City
Phoenix       1633000       1086   33.4484  -112.0740
Flagstaff       74402       6909   35.1983  -111.6513
St. Louis      308174        466   38.6270   -90.1994
Tulsa          402324        722   36.1540   -95.9928

In [9]:
df["Population"]

City
Phoenix      1633000
Flagstaff      74402
St. Louis     308174
Tulsa         402324
Name: Population, dtype: int64

In [10]:
df.loc["Flagstaff"]

Population    74402.0000
Elevation      6909.0000
Latitude         35.1983
Longitude      -111.6513
Name: Flagstaff, dtype: float64

In [11]:
df.iloc[1]

Population    74402.0000
Elevation      6909.0000
Latitude         35.1983
Longitude      -111.6513
Name: Flagstaff, dtype: float64

In [14]:
df["Population"]["Phoenix"]

1633000

In [13]:
df["Elevation"]["Flagstaff"]

6909

In [17]:
df.loc["Phoenix"]["Population"]

1633000.0

In [16]:
df.loc["Flagstaff"]["Elevation"]

6909.0